header {
    // https://create-react-app.dev/docs/adding-images-fonts-and-files
    height: 800px;
    width: 100%;
    max-width: 1460px;
    background-image: url("hero-desktop.jpeg    ");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;

    .header {
        height: 100px;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        // background-color: #d2a7da;
        font-family: "Roboto";
        font-size: large;

        > #menu {
            height: 30px;
            width: auto;
            cursor: pointer;
            filter: invert(100%);
        }

        .logo {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            > h1 {
                color: white;
                font-weight: 400;
                margin: 0;
            }
            
            >img {
                height: 50px;
                width: auto;
                filter: invert(100%);
            }
        }

        > .socials > a > img{
            height: 30px;
            width: auto;
            cursor: pointer;
            filter: invert(100%);
            padding: 0 5px;
        }
    }
}

.box {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);

    span {
        display: block;
        width: 20px;
        height: 20px;
        border-bottom: 2.5px solid white;
        border-right: 2.5px solid white;
        transform: rotate(45deg);
        margin: -10px;
        animation: animate 2s infinite;
      }
      
      span:nth-child(2) {
        animation-delay: -0.2s;
      }

      span:nth-child(3) {
        animation-delay: -0.4s;
      }
      @keyframes animate {
        0% {
          opacity: 0;
          transform: rotate(45deg) translate(-20px, -20px);
        }
        50% {
          opacity: 1;
        }
        100% {
          opacity: 0;
          transform: rotate(45deg) translate(20px, 20px);
        }
    } 
}