section {
    background-color: #feebe7;

    .subscribe {
        height: 300px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 40px;
        padding-bottom: 80px;

        > h1 {
            font-size: 55px;
            font-weight: 400;

            @media (max-width: 414px) {
                font-size: 48px;
                margin-top: 15px;
            }
            
        }
        > h1,p {
            color: #822c08;
            font-family: "Roboto";
            margin-bottom: 15px;
        }

        >form {
            display: flex;
            align-items: center;
            
            > input[type=email] {
            height: 50px;
            width: 320px;
            background-color: #feebe7;
            box-sizing: border-box;
            padding: 0 10px;
            border: 0;
            border-bottom: 1px solid #822c08;
            margin-top: 10px;
            font-size: 16px;

            @media (max-width: 414px) {
                width: 225px;
            }

            &::placeholder {
                font-family: "Roboto";
                font-size: 16px;
                color: #822c08;
            }
        }
            >input[type=submit] {
                height: 50px;
                width: 30px;
                cursor: pointer;
                border: none;
                margin-top: 10px;
                margin-left: 1px;
                background-color: transparent;
                background-image: url("./arrow.png");
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
            }
        }
    } 
}