#heading-section {
    height: 110px;
    background-color: #d1aadc;
}

.products-page {
    background-color: #feeae7;
    display: flex;

    .products-images {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 65%;

        img:first-child {
            padding-right: 20px;
        }

        > img {
            height: 500px;
            width: auto;
        }
    }
}

.products-text {
    width: 35%;

    div > h1, h3, span, p {
        color: #822c08;
        font-family: "Roboto";
        margin: 0;
    } 

    div > h3, span {
        font-size: 20px;
        margin-bottom: 15px;
    }

    #product-span {
        padding-right: 20px;
    }

   .products-title {
       display: flex;
       align-items: baseline;
       justify-content: space-between;

       > h1 {
           font-size: 33px;
           font-weight: 400;
           margin-bottom: 40px;
       } 
   }

   .products-input {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        margin: 40px 0 15px 0;
        
        > input {
            padding: 15px 15px;
            margin-right: 10px;
        }

        > button {
            width: 60%;
            padding: 15px 15px;
        }
   }

   #buy-now {
       margin-bottom: 40px;

       > button {
           width: 100%;
           padding: 15px 15px;
       }
   }
}