#heading-section {
    height: 110px;
    background-color: #d1aadc;
}

.products-page {
    background-color: #feeae7;
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;

    .products-images {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 65%;

        img:first-child {
            padding-right: 20px;
        }

        > img {
            height: 500px;
            width: auto;
        }
    }
}

.products-text {
    width: 35%;

    div > h1, h3, span, p {
        color: #822c08;
        font-family: "Roboto";
        margin: 0;
    } 

    div > h3, span {
        font-size: 20px;
        margin-bottom: 15px;
    }

    #product-span {
        padding-right: 20px;

        &:hover {
            text-decoration: underline;
        }
    }

   .products-title {
       display: flex;
       align-items: baseline;
       justify-content: space-between;

       > h1 {
           font-size: 33px;
           font-weight: 400;
           margin-bottom: 40px;
       } 
   }

   .products-input {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        margin: 40px 0 15px 0;
        
        > input, button {
            background-color: #feeae7;
            color: #822c08;
            border: 2px solid #822c08;
            font-family: "Roboto";
            letter-spacing: .13em;
            padding: 15px 15px;
        }

        > input {
            margin-right: 10px;
        }

        > button {
            cursor: pointer;
            width: 70%;
            transition: 250ms;

            &:hover {
                background-color: #822c08;
                color:#feeae7;
            }
        }
   }

   #buy-now-button {
       margin-bottom: 40px;

       > button {
           color: #feeae7;
           cursor: pointer;
           font-family: "Roboto";
           letter-spacing: .13em;
           border: 2px solid #822c08;
           background-color: #822c08;
           transition: 250ms;
           width: 100%;
           padding: 15px 15px;

           &:hover {
            background-color: #feeae7;
            color: #822c08;
           }
       }
   }
   #shipping-info {
       display: flex;

       > div > img {
           height: 20px;
           padding-top: 2px;
           padding-right: 5px;
       }

       > div > p {
           margin-top: 15px;
       }
   }
}