body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gutters {
  box-sizing: border-box;
  max-width: 1200px;
  padding: 10px 60px;
  margin: auto;

  @media (max-width: 1049px) {
    padding: 10px 30px;
  }
  @media (max-width: 414px) {
    padding: 10px 10px;
  }
}