.products {
    background-color: #246c6b;
    height: 500px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;

    > div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
    }
    > div > img {
        height: 350px;
        width: auto;
    }

    .products-text {
        flex-direction: column;
    }
    .products-text > h2 {
        font-family: "Roboto";
        font-size: 45px;
        font-weight: 400;
        color: white;
        margin: 0 0 5px 0;
    }

    .products-text > p {
        font-family: "Roboto";
        font-size: 20px;
        font-weight: 300;
        color: white;
    }

    #contact-link {
        font-family: "Roboto";
        font-size: 20px;
        font-weight: 300;
        text-decoration: none;
        color: white;
        margin-top: 20px;

        &:hover {
            text-decoration: underline;
        }
    }

    .products-text > #link {
        font-family: "Roboto";
        font-size: 15px;
        text-decoration: none;
        color: white;
        cursor: pointer;
        border: 1px solid white;
        background-color: #8c69aa;
        transition: 250ms;
        padding: 15px 32px;

        &:hover {
            color: #822c08;
            background-color: white;
        }
    }
}
#view {
    background-color: #8c69aa;
}
#contact {
    background-color: #822c08;
}
